cluster_name                = "test-cluster"
aws_prefix                  = "test"
aws_access_key              = ""
aws_secret_key              = ""
aws_region                  = "us-east-1"
node_all_count              = 0
node_master_count           = 1
node_game_worker_count      = 3
node_svc_worker_count       = 2
rancher_token               = ""
rancher_server_url          = ""
master_iam_instance_profile = ""
svc_iam_instance_profile    = ""
game_iam_instance_profile   = ""
